[Desktop Entry]
Encoding=UTF-8
Name=Eternal Lands
Comment=Play the massively-multi-player online role-playing game
Exec=eternallands
Icon=eternallands.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;AdventureGame;

Actions=Main;Test;PK;

[Desktop Action Main]
Name=Main server
Exec=eternallands main

[Desktop Action Test]
Name=Test server
Exec=eternallands test

[Desktop Action PK]
Name=PK server
Exec=eternallands pk
